@page
@model BookSellRazor_temp.Pages.Categories.DeleteModel

<form method="post">
    
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Category</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Category.Name"></label>
            <input asp-for="Category.Name" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Category.DisplayOrder"></label>
            <input asp-for="Category.DisplayOrder" disabled class="form-control" />
        </div>
        <button type="submit" class="btn btn-danger" style="width: 150px;">Delete</button>
        <a asp-page="/Categories/index" class="btn btn-secondary" style="width: 150px">Go to List</a>
    </div>
</form>